#create-poll {
	position: absolute;
	right: 0;
	top: 16%;
	margin: 10px;
}

#create-poll-category {
	width: 280px;
}

.navbar-brand {
	position: absolute;
	top: 22%;
}

.page-header {
	text-align: center;
}

.create-poll-edit-button {
	width: 100%;
	margin: 10px;
}

.form-group > input {
	height: 33px;
	position:relative;
	left: 9px;
}

.form-group > .label {
	font-size: 1em;
}

.is-hidden {
	transition: 0.2s all ease-out;
	display: none;
}

#add-options.button {
	width: 20% !important;
}

.choice-number {
	margin-right: 10px;
}

.kind-list {
	width: 80%;
	left: 12%;
}
.dropdown-menu>li>a {
	padding: 10px;
	margin-bottom: 5px;
}

.create-poll-button {
	position: relative;
	left: 11px;
	width: 100%;
}

.category-list-title {
	margin-bottom: 20px;
}

.detail-option {
	width: 100%;
	margin-bottom: 10px;
}

.submit-vote-btn-container {
	text-align: center;
}

.submit-vote-btn {
	width: 50%;
}


