<!-- NEED TO CREATE DIRECTIVES FOR THIS -->
<form class="create-poll-form">
    <div class="row">
        <div class="form-group col-sm-4 col-sm-offset-4">
            <button id="add-title" type="button" class="btn btn-default create-poll-edit-button" ng-class="{'is-hidden': vm.buttonState}" ng-click="vm.toggleTitleButtonState()">{{vm.title}}</button>
        </div>
        <div class="form-group col-sm-4 col-sm-offset-4">
            <input type="text" class="form-control" placeholder="{{vm.title}}" ng-class="{'is-hidden': !vm.buttonState}" ng-blur="vm.toggleTitleButtonState()" ng-model="vm.poll.title">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4 col-sm-offset-4 text-center">
            <label>Add options!</label>
            <button type="button" class="btn btn-default add-options-button" aria-label="Left Align" ng-click="vm.anotherOption()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <div ng-repeat="choice in vm.pollData.choices track by $index">
        <div class="row" id="choices-row">
            <div class="form-group col-sm-4 col-sm-offset-4">
               <input type="text" class="form-control" ng-blur="vm.submitOption($index, vm.poll.choice[$index])" ng-class="{'is-hidden': vm.pollData.choices[$index].show}" ng-model="vm.poll.choice[$index]">
               <button type="button" class="btn btn-default create-poll-edit-button" ng-class="{'is-hidden': !vm.pollData.choices[$index].show}"><span class="choice-number">{{$index}}.</span>{{vm.pollData.choices[$index].choiceTitle}}</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4 col-sm-offset-4 dropdown">
            <button type="button" class="btn btn-default create-poll-edit-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{vm.kind}}<span class="caret"></span></button>
            <ul class="dropdown-menu kind-list" aria-labelledby="dLabel">
                <li ng-repeat="kind in vm.kinds"><a type="button" class="btn btn-default" ng-click="vm.addKind(kind)">{{kind}}</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4 col-sm-offset-4">
            <button type="submit" class="btn btn-success btn-lg create-poll-button" ng-click="vm.addPoll(vm.poll)">Create poll</button>
        </div>
    </div>
</form>