
<div class="page-header" style="height:200px;">
	<h1>Votel</h1>
	<h3>Vote for your favorite!</h3>

</div>
<div class="row">
	<div class="col-sm-3">
		<a href="#/poll-list/food" class="thumbnail">
	      	<img src="../img/foodicon.png" alt="food">
	    </a>
	</div>
	<div class="col-sm-3">
		<a href="#/poll-list/movies" class="thumbnail">
		    <img src="../img/movieicon.png" alt="...">
		</a>
	</div>
	<div class="col-sm-3">
		<a href="#/poll-list/music" class="thumbnail">
	      	<img src="../img/musicicon.png" alt="...">
	    </a>
	</div>
	<div class="col-sm-3">
		<a href="#/poll-list/games" class="thumbnail">
		    <img src="../img/videogame.jpeg" alt="...">
		</a>
	</div>
</div>
