<div ng-if="vm.type === 'food'">
	<div class="list-group">
		<h1>Food</h1>
		<div ng-repeat="poll in vm.polls">
			<div ng-if="poll.kind === 'food'">
				<div ng-repeat="options in poll.options"><button type="button" class="list-group-item">{{options}}</button></div>
			</div>
		</div>
	</div>
</div>


<div ng-if="vm.type === 'music'">
	<div class="list-group">
		<h1>Music</h1>
		<div ng-repeat="poll in vm.polls">
			<div ng-if="poll.kind === 'music'">
				<div ng-repeat="options in poll.options"><button type="button" class="list-group-item">{{options}}</button></div>
			</div>
		</div>
	</div>
</div>


<div ng-if="vm.type === 'movie'">
	<div class="list-group">
		<h1>Movies</h1>
		<div ng-repeat="poll in vm.polls">
			<div ng-if="poll.kind === 'movie'">
				<div ng-repeat="options in poll.options"><button type="button" class="list-group-item">{{options}}</button></div>
			</div>
		</div>
	</div>

</div>


<div ng-if="vm.type === 'game'">
	<div class="list-group">
		<h1>Games</h1>
		<div ng-repeat="poll in vm.polls">
			<div ng-if="poll.kind === 'games'">
				<div ng-repeat="options in poll.options"><button type="button" class="list-group-item">{{options}}</button></div>
			</div>
		</div>
	</div>
</div>
