<div class="list-group">
	<div ng-repeat="poll in vm.polls">
		<div class="col-md-4"></div>
	    <div class="col-md-4">
	        <div class="panel panel-primary">
	            <div class="panel-heading">
	                <h3 class="panel-title"><span class="fa fa-line-chart"></span> {{vm.polls[0].title}} </h3>
	            </div>
	            <div class="panel-body">
	            	<ul class="nav nav-pills nav-stacked">
						<div ng-repeat="options in poll.options track by $index">
							<div ng-hide="vm.showProgressBar">
				            	<li><button class="btn btn-default detail-option" ng-click="vm.currentChoice(options)">{{options.choiceTitle}}</button></li>
				            </div>
			            	<div ng-show="vm.showProgressBar">
				            	<div class="progress">
					            	<div class="progress-bar" role="progressbar" aria-valuenow="{{options.voteScore}}" aria-valuemin="0" aria-valuemax="{{vm.totalVoteScore}}" style="min-width: 2em; width: {{vm.progressBarWidthArr[$index]}}%;">
				            	    {{options.choiceTitle}}{{options.voteScore}}
				            	  </div>
				            	</div>
			            	</div>
		            	</div>
	            	</ul>
	            </div>
	            <div class="submit-vote-btn-container">
		            <button type="submit" ng-class="{'is-hidden': !vm.showVoteButton}" class="btn btn-success btn-lg submit-vote-btn" ng-click="vm.submitVote()">Vote!</button>
		            <h4 ng-class="{'is-hidden': vm.showVoteButton}">Thank you for your vote!</h4>
	            </div>
	        </div>
	    </div>
		
	</div>
</div>